@charset 'utf-8';

/* Custom bulma theme for GameHub */

$gamehubcolor: #ac3cde;
$link: $gamehubcolor;

@import 'sass/utilities/_all';
@import 'sass/base/_all';
@import 'sass/elements/_all';
@import 'sass/form/_all';
@import 'sass/components/_all';
@import 'sass/grid/_all';
@import 'sass/helpers/_all';
@import 'sass/layout/_all';