body {
    background: rgb(232, 221, 206);
}

* {
    font-family: montserrat;
}

.content {
    width: 600px;
    background: #fff;
    height: 500px;
    margin-left: 25%;
    margin-top: 50px;
}

img {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 42%;
    top: 25%;
    background: #fff;
    padding: 8px;
    border-radius: 10%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.616);
}

.top {
    background-image: url('https://gh.retronetwork.ml/assets/img/background.jpeg');
    height: 150px;
    width: 600px;
}

.main {
    position: absolute;
    left: 25%;
    top: 43%;
    width: 600px;
    height: 350px;
}

h1 {
    text-align: center;
    font-family: montserrat-black;
}

p {
    padding: 20px;
}

button {
    border-radius: 9999px;
    padding-left: calc(1.25em);
    padding-right: calc(1.25em);
    text-align: center;
    background-color: #AC3CDE;
    border-color: transparent;
    color: #FFFFFF;
    cursor: pointer;
    justify-content: center;
    padding: calc(0.5em - 1px) 1em;
    white-space: nowrap;
    margin-left: 35%;
    font-size: 15px;
}

@font-face {
    font-family: 'montserrat';
    src: url('https://codehs.com/uploads/806ee7489702cee172c0c9d956910040') format('woff2'),
        url('https://codehs.com/uploads/6869f071e73ab4d66fd54613c802867d') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'montserrat-black';
    src: url('https://codehs.com/uploads/e91c40e3c726252fb8c0673dc10c3300') format('woff2'),
        url('https://codehs.com/uploads/6fbeaa552e94d7f5eb1629d6140ce62c') format('woff');
    font-weight: normal;
    font-style: normal;
}